<link rel="import" href="../polymer/polymer.html">

<script src="../cotton-push/PushService.js"></script>
<script src="ZombieService.js"></script>

<script>
'use strict';

var CottonBehaviors = CottonBehaviors || {};

CottonBehaviors.CottonZombieBehavior = {
  properties: {
    _pushRegistrations: {
      type: Array,
      readOnly: true,
      value: function() { return []; }
    }
  },

  detached: function () {
      this._pushRegistrations.forEach(function (registrations) {
          registrations.deregister();
      });
      this._pushRegistrations.splice(0, this._pushRegistrations.length);
  },

  whenPersonify: function (display) {
    var register = this._register.bind(this);
    var zombie = this;
    return {
      execute: function (action) {
        register(ZombieService.registerPersonify(display, action, zombie));
        register(ZombieService.registerPersonifyOnce(display, action, zombie));
      }
    };
  },

  _register: function (registration) {
    if (registration) {
      this._pushRegistrations.push(registration);
    }
  }
};
</script>
