<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cotton-zombie-personifier.html">

<dom-module id="cotton-zombie">
    <template>
        <content></content>
    </template>

    <script>

        const CottonHolderPushMessages = {
            Die: "die"
        };

        Polymer({
            is: 'cotton-zombie',

            behaviors: [CottonBehaviors.CottonZombieBehavior],

            properties : {
               display: String,
               widget: String,
               object: String
            },

            attached : function() {
                var widget = this;
                this.id = this._guid();
                this.whenPersonify(this._displayName()).execute(function(parameters) {
                    if (widget.object != null && widget.object !== parameters.object)
                        return false;
                    this.personify({ id: parameters.id, name: parameters.display });
                    return true;
                }.bind(this));
            },

            _displayName: function () {
              var name = this.display;
              var index = name.lastIndexOf("Display");
              return index != -1 ? name.substr(0, index) : name;
            },

            personify : function(display) {
                var widget = this._createWidget(display);
                widget.when(CottonHolderPushMessages.Die).execute(function(parameters) {
                    if (parameters.id === widget.display.id)
                        if (widget.remove) widget.remove();
                });

                this.assignAttributesToWidget(widget);
                widget.properties = this.properties;
                this._insertBeforeZombie(widget);

                if (this.callback)
                    this.callback(widget);

                this._removeFromParent();

            },

            assignAttributesToWidget : function(widget) {
                for (var i=0; i<this.attributes.length; i++) {
                    var attribute = this.attributes[i];
                    if (attribute.name == "id" || attribute.name == "display" || attribute.name == "widget") continue;
                    widget[this._attributeNameFor(attribute.name)] = attribute.value;
                }
            },

            _attributeNameFor : function(name) {
                return name.replace(/(-.)/gi, function(x) { return x.substring(1,2).toUpperCase(); });
            },

            whenPersonified : function() {
                var holder = this;
                return {
                    execute: function(callback) {
                        holder.callback = callback;
                    }
                }
            },

            _createWidget: function (display) {
              var widget = document.createElement(this._formatWidgetName(this.widget));
              widget.display = display;
              return widget;
            },

            _formatWidgetName: function (widget) {
              var result = widget.charAt(0).toLowerCase();
              for (var i = 1; i < widget.length; i++) {
                if (this._isUpperCase(widget.charAt(i))) {
                  result += "-";
                }
                result += widget.charAt(i).toLowerCase();
              }
              return result;
            },

            _isUpperCase: function (character) {
              return character === character.toUpperCase();
            },

            _insertBeforeZombie: function (widget) {
              var parent = this.parentElement;

              if (parent == null) {
                  this.remove();
                  return;
              }

              var parentNode = Polymer.dom(this).parentNode;
              if (parent === parentNode || parent.parentNode === parentNode) {
                Polymer.dom(parentNode).insertBefore(widget, this);
              } else {
                parent.insertBefore(widget, this);
              }
            },

            _removeFromParent: function () {
              var parentNode = Polymer.dom(this).parentNode;
              if (this.parentElement === parentNode && parentNode != null) {
                Polymer.dom(parentNode).removeChild(this);
              } else {
                  if (this.remove)
                    this.remove();
              }
            },

            _guid : function() {
                return cottonZombieS4() + cottonZombieS4() + '-' + cottonZombieS4() + '-' + cottonZombieS4() + '-' +
                    cottonZombieS4() + '-' + cottonZombieS4() + cottonZombieS4() + cottonZombieS4();
            }
        });

        function cottonZombieS4() {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }

    </script>
</dom-module>
